/* 기본 설정 */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #e0e0e0; /* 밝은 회색 텍스트 */
    background: #121212; /* 매우 어두운 회색 배경 */
    margin: 0;
}

/* 헤더 */
header {
    background: #1c1c1c; /* 어두운 회색 배경 */
    color: #e0e0e0;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    transition: color 0.3s;
}

/* 마우스 호버 효과 */
header nav ul li a:hover, header nav ul li a:focus {
    color: #ff4081; /* 밝은 핑크색으로 변경 */
}

/* 섹션 */
section {
    padding: 20px 0;
    text-align: center;
}

/* 푸터 */
footer {
    background: #1c1c1c;
    color: #e0e0e0;
    text-align: center;
    padding: 10px 0;
}

img {
    border: 3px solid #ff4081; /* 밝은 핑크색 테두리 */
    border-radius: 10px; /* 모서리 둥글게 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 추가 */
    transition: transform 0.3s ease; /* 부드러운 변환 효과 */
}

img:hover {
    transform: scale(1.05); /* 마우스를 올렸을 때 이미지 확대 */
}

.text-flashlight {
    transition: color 0.3s ease; /* 부드러운 색상 전환 */
}

.app-title {
    font-family: 'Arial', sans-serif;
    color: #ff4081; /* 밝은 핑크색 */
    font-size: 24px; /* 크기 조정 */
    font-weight: bold; /* 굵은 글씨체 */
    text-shadow: 2px 2px 4px #000000; /* 텍스트에 그림자 효과 추가 */
}



.email-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.envelope {
    width: 50px;
    height: 30px;
    background-color: #333;
    position: relative;
}

.envelope:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 50% 50%);
}

.email-info {
    display: none;
    color: rgb(78, 94, 78); /* 텍스트 색상 */
    font-size: 16px; /* 텍스트 크기 */
    background-color: #e6ffd5; /* 배경 색상 */
    border: 1px solid #e6ffd5; /* 테두리 */
    padding: 8px; /* 안쪽 여백 */
    border-radius: 5px; /* 둥근 모서리 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 그림자 효과 */
    position: absolute;
    top: 35px; /* 아이콘 아래에 위치 */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    z-index: 1000; /* 다른 요소 위에 표시 */
}

.copied-message {
    display: none;
    position: fixed; /* 수정: fixed로 변경 */
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    transform: translate(-50%, -100%); /* X축 중앙, Y축 위로 이동 */
}

.email-icon:hover .email-info {
    display: block;
}
